main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 40px;
    font-weight: 600; 
}

@media (max-width: 480px) {
    main {
        margin: 0px
    }
}